.banner-section{
    background-color: black;
    text-align: center;
    color: white;
}
.banner-content{
    margin-top: 2rem;
    padding: 0.01rem ;

}
.banner-content_text{
    p{  
        margin-top: 0;
        color: white;
        span{
            color: orange;
        }
    }
    h2{
        font-weight: 700;
        font-size: 3rem;
    }
}

