.book-section{
    position: relative;
    background-color: #f8f8f8;
    margin-top: 1.5rem;
    
}

.book-content{
 margin: 0 auto;
 /* margin-bottom: 10rem; */
}

.book-content_box{
    background-color: white;
    width: 100%;
    padding: 2rem 4.5rem 2rem 5.5rem;
    position: relative;
    z-index: 4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 400px) {
        padding: 4rem 2.5rem 5rem 2.5rem;
      }
      h2 {
        font-weight: 700;
        margin-bottom: 2.7rem;
      }
  
}

.box-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap:1rem;

    b{
        color: #FFB000;
    }

    @media (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (min-width: 0px) and (max-width:630px) {
        grid-template-columns: 1fr;
      }


}

.box-form__car-type{
    display: flex;
    flex-direction: column;
    label{
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
    }
    select{
        font-size: 1.5rem;
        color: #ababab;
        border: 1px solid #ccd7e6;
        border-radius: 3px;
        font-weight: 400;
        padding: 0.5rem 0.5rem;
          /* outline: none ; */
    }
}

.box-form__car-time{
display: flex;
flex-direction: column;
label{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
}
input{
    font-size: 1.5rem;
    color: #ababab;
    border: 1px solid #ccd7e6;
    border-radius: 3px;
    font-weight: 400;
    padding: 0.5rem 0.5rem;
    
}
::-webkit-calendar-picker-indicator{
    cursor: pointer;
    font-size: 1.6rem;
}
::-webkit-calendar-picker-indicator:hover{
    background:transparent;
}

}

button{
    font-size: 1.8rem;
    height: 3rem;
    font-weight: 600;
    color: white;
    background-color: #FFB000;
    border: none;
    align-self: flex-end;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 10px 15px 0 rgba(255, 200, 48, 0.904);
    
}
button:hover{
    box-shadow: 0 10px 15px 0 rgb(255, 165, 48);
    
}

.error-message{
    color: white;
    background-color:#FFB000;
    border-color: #ffd000;
    padding: 1rem 1.4rem;
    margin-top: -2rem;
    margin-bottom: 1.8rem;
    border-radius: 0.8rem;
    border:1px solid transparent; 
    font-weight: 500;
    font-size: 1.6rem;

    display: none;
    justify-content: space-between;
    align-items:center;
}

.booking-done{
    color: white;
    background-color:#FFB000;
    border-color: #ffd000;
    padding: 1rem 1.4rem;
    margin-top: -2rem;
    margin-bottom: 1.8rem;
    border-radius: 0.8rem;
    border:1px solid transparent; 
    font-weight: 500;
    font-size: 1.6rem;

    display: none;
    justify-content: space-between;
    align-items:center;
    
}
.active-modal{
    opacity: 1 !important;
    display: flex !important;
}

.modal-overlay{
    opacity: 0;
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999999999;
    top: 0;
    right: 0;
}
.icon{
    align-items: flex-end;
}

.booking-modal{
    display: none;

    flex-direction: column;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 9999999;
    top: 55%;
    left: 50%;
    color: black;
    width: 70rem;
    height: 100vh;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    background-color: rgba(255, 255, 255);
    padding-right: 2px;

    @media(max-width: 800px) {
        width: 100%;
      }
    
    @media (max-width: 600px) {
        top: 50%;
      }
}


.booking-modal_title{
    color: white;
    background-color: #FFB000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    
    h2{
        text-transform: uppercase;

    }
    
}
.iconX{
    cursor: pointer;
}
.booking-modal_message{
    background-color: #F9F7C9;
    color: #FFB000 ;
    padding: 0.5rem 1rem;
    h4{
        font-size: 1.9rem;
        font-weight: 700;
    }
    p{  
        line-height: 1rem;
        color: black;
        font-weight: 300;
    }
}

.booking-modal_car-info{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 5rem;
    border-bottom: 1px solid #F9F7C9;
    @media  (max-width:630px){
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.booking-modal_car-info-dates{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
   
    span{
        display: flex;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    h5{ 
        font-size: 1.8rem;
        color: #FFB000;
        font-weight: 500;
        margin-bottom: 0.2rem;
    }
    h6{
        margin-bottom: 0.2rem;
        font-size: 1.5rem;
    }
    p{
        font-size: 1.5rem;
    }
}
.booking-modal_car-info-model{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: center;
    justify-content: top;
    margin-top: 2rem;
    span{
        font-size: 1.5rem;
        color: #FFB000;
        font-weight: 500;
    }
}

.booking-modal_person-info{
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    h4{ 
        font-size: 1.8rem;
        color: #FFB000;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
    b{
        color: #FFB000;
    }
}
.info-form{
    display: flex;
    flex-direction: column;

    
}
.info-form__1col{
    grid-template-columns: 1fr !important;
}
.info-form__2col,.info-form__1col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem 0;
    @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }

      span{
        display: flex;
        flex-direction: column;
        label{
            font-size: 1.4rem;
        }
        .error-modal{
            margin-top: 0;
            font-size: 1rem;
        }
        input{
            padding: 14px 15px;
            background-color: #dbdbdb;
            color: 555;
            border: none;
            font-size: 1.2rem;
            font-weight: 500;
        }
      }
}
.info-form__checkbox{
    display: flex;
    align-items: center;
    gap: 1rem;
    
    p{
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
}
.reserve-button{
    text-align: center;
    background-color: #dbdbdb;
    margin: 2rem 2rem;
    padding: 3rem;

}